    {{> head}}
{{> navbar}}

<div class="row">
    <div class="col-7">
        <h1>Capitan america</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil error distinctio alias deleniti! Dignissimos commodi aperiam facilis fuga illum sapiente in consequatur sint, nesciunt expedita quidem natus, modi repellat iste.</p>
        </div>
        
    <div class="col-5 img-thumbnail"><img src="img/paula.png" alt="img-thumbnail"></div>
</div>

    {{> footer}}